@font-face {
  font-family: 'FugazOne';
  font-style: normal;
  src: url('./fonts/FugazOne/FugazOne-Regular.ttf');
  src: local('Fugaz'), url('./fonts/FugazOne/FugazOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url('./fonts/Nunito/Nunito-Regular.ttf');
  src: local('Nunito'), url('./fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}

body {
  background-color: #0A0808;
  font-family: 'Nunito', sans-serif;
  color:rgba(177, 248, 163, 0.925)
}

.heading {
  font-family: 'FugazOne', cursive;
  letter-spacing: 2px;
  text-shadow: rgb(1, 34, 6) 0.4em 0.4em 0.5em;
}

.link {
  text-decoration: none;
  font-size: 20px;
}

.link:visited {
  color: rgb(1, 1, 54);
}



